
wbdv-field.wbdv-username{

}

wbdv-field.wbdv-password{

}

wbdv-button.wbdv-login{

}

wbdv-link.wbdv-forgot-password{

}

wbdv-link.wbdv-register{

}


.container{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);


}