
wbdv-field.wbdv-username{

}

wbdv-field.wbdv-password{

}

.wbdv-field.wbdv-password-verify{

}

.wbdv-button.wbdv-register{

}

.wbdv-link.wbdv-login{

}

.wbdv-link.wbdv-login:hover{
    font-size: large;

}


.container{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);


}