.wbdv-field.wbdv-username {
    display: block;
    margin: auto;
}

.form-control.wbdv-field wbdv-password{

}

.wbdv-button.wbdv-login{
    display: block;
    margin: auto;

}


.wbdv-link.wbdv-forgot-password{

}

.wbdv-link.wbdv-register{

}
.container{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);


}




