.wbdv-field.wbdv-username {
    text-align: left;
}

.form-control.wbdv-field wbdv-password{

}

.wbdv-button.wbdv-login{

}

.wbdv-link.wbdv-forgot-password{
}
.wbdv-link.wbdv-forgot-password:hover{
    font-size: large;
}

.wbdv-link.wbdv-register{

}
.wbdv-link.wbdv-register:hover{
    font-size: large;
}
.container{
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);


}




